
@{
    ViewData["Title"] = "Intro";
}

<h1>@ViewData["Title"]</h1>
<h3>Zachary Dean</h3>

<!--Refences: https://www.w3schools.com/tags/att_output_form.asp-->
<form id="numform" oninput="x.value=parseInt(a.value)+parseInt(b.value)">
    <input type="number" id="a" name="a" value="0"><br />
    <input type="number" id="b" name="b" value="0"><br />
    <output form="numform" id="x" name="x" for="a+b">0</output><br />
    <input type="submit">
</form>

@section Paragraph
{
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus in posuere metus, quis sagittis dui.
    Donec feugiat congue orci scelerisque cursus. Mauris pharetra, ex ut condimentum euismod, nulla sapien 
    molestie felis, sit amet mattis lectus lacus vitae metus. Nam interdum lobortis sem non ultrices. Fusce 
    ut nunc risus. Aenean tempor dolor magna, id lobortis urna elementum at. Pellentesque velit dolor, pellentesque
    quis nunc dapibus, sollicitudin vulputate nunc. Aliquam ornare purus eros, in efficitur quam pellentesque 
    quis. Duis non euismod ante, in faucibus diam.</p>
}